Repository voxpupuli/puppet-amanda, pull requests merged in 2018-05, with the labels that each got.

#54 amanda::config via puppet scheme url now optional
  README.md
  manifests/config.pp
  manifests/server.pp
Labels: enhancement

#59 modulesync 1.9.0-12-gacb0134
  .github/CONTRIBUTING.md
  .msync.yml
  Gemfile
Labels: modulesync

#60 release 3.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#61 modulesync 1.9.2
  .msync.yml
  .travis.yml
  Gemfile
  spec/spec_helper.rb
Labels: modulesync
